currentPlayerText: {fileID: 0}
  gameStateText: {fileID: 0}
  gameOverText: {fileID: 0}
  gameUIPanel: {fileID: 0}
  gameOverPanel: {fileID: 0}
  resultsScreenPanel: {fileID: 0}
  resultsScreenController: {fileID: 0}
  restartButton: {fileID: 0}
  mainMenuButton: {fileID: 0}
  mainMenuPanel: {fileID: 0}
  settingsPanel: {fileID: 0}
  boardSizeSlider: {fileID: 0}
  winConditionSlider: {fileID: 0}
  boardSizeValueText: {fileID: 0}
  winConditionValueText: {fileID: 0}
  boardSizeButtons: []
  boardSize9x9Button: {fileID: 0}
  boardSize13x13Button: {fileID: 0}
  boardSize15x15Button: {fileID: 0}
  boardSize19x19Button: {fileID: 0}
  themeDropdown: {fileID: 0}
  winConditionStandardButton: {fileID: 0}
  winConditionCaptureButton: {fileID: 0}
  winConditionTimeBasedButton: {fileID: 0}
  winConditionDescriptionText: {fileID: 0}
--- !u!1001 &4953595190882915106
PrefabInstance:
  m_ObjectHideFlags: 0
  serializedVersion: 2
  m_Modification:
    serializedVersion: 3
    m_TransformParent: {fileID: 2240000000}
    m_Modifications:
    - target: {fileID: 1000000000, guid: d5438aa537d79ee4f89ee010f0b5fb50, type: 3}
      propertyPath: m_Name
      value: GameStateDisplay
      objectReference: {fileID: 0}
    - target: {fileID: 2240000000, guid: d5438aa537d79ee4f89ee010f0b5fb50, type: 3}
      propertyPath: m_Pivot.x
      value: 0.5
      objectReference: {fileID: 0}
    - target: {fileID: 2240000000, guid: d5438aa537d79ee4f89ee010f0b5fb50, type: 3}
      propertyPath: m_Pivot.y
      value: 1
      objectReference: {fileID: 0}
    - target: {fileID: 2240000000, guid: d5438aa537d79ee4f89ee010f0b5fb50, type: 3}
      propertyPath: m_AnchorMax.x
      value: 1
      objectReference: {fileID: 0}
    - target: {fileID: 2240000000, guid: d5438aa537d79ee4f89ee010f0b5fb50, type: 3}
      propertyPath: m_AnchorMax.y
      value: 1
      objectReference: {fileID: 0}
    - target: {fileID: 2240000000, guid: d5438aa537d79ee4f89ee010f0b5fb50, type: 3}
      propertyPath: m_AnchorMin.x
    
